vorlesung/semantik/xml-xsd/beispiel.xsd

<?xml version="1.0" encoding="ISO-8859-1"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="beispiel">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="gruss" type="grusstype"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:complexType name="grusstype">
        <xs:attribute name="formel" type="xs:string" use="required"/>
    </xs:complexType>
</xs:schema>
